header h1{
  color: #FFFFFF;
  text-align: center;
}
.signup-form, .login-form {
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup-form input, .login-form input {
  width:300px;
}